* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}

header i {
  font-size: 40px;
  color: #35a22c;
  margin-right: 20px;
}

header span {
  font-size: 30px;
}

header .nav-item .nav-link {
  position: relative;
  color: white;
  margin: 0px 20px;
  transition: 0.3s;
  overflow: hidden;
}

header .nav-link:hover {
  color: #35a22c;
}

header .nav-item .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #35a22c;
  bottom: 0px;
  left: 0;
  transition: 0.3s;
  transform: translateX(-100%);
}

header .nav-item .nav-link:hover::after {
  transform: translateX(0px);
}

header .nav-item.active .nav-link {
  color: #35a22c;
}

header .nav-item.active .nav-link::after {
  transform: translateX(0px);
}
.navbar-dark .navbar-toggler-icon {
  background-image: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"width="30"height="30"viewBox="0 0 30 30"%3e%3cpathstroke="rgba%28255, 255, 255, 0.5%29"stroke-linecap="round"stroke-miterlimit="10"stroke-width="2"d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e
  );
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: 50%/100% 100% no-repeat;
}

/* CAROUSEL */
#portfolio__carousel .carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
}

#portfolio__carousel .carousel-caption h5 {
  font-size: 50px;
}

#portfolio__carousel .carousel-caption p {
  font-size: 20px;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.carousel-indicators {
  bottom: 30px;
}

.carousel-item {
  position: relative;
  height: 100vh;
}

.carousel-item::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

#portfolio__carousel .carousel-indicators .active {
  background-color: #35a22c;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 1s;
}

.carousel-caption img {
  animation-delay: 0.2s;
}

.carousel-caption h5 {
  animation-delay: 0.4s;
}

.carousel-caption p {
  animation-delay: 1s;
}

/* PROJECT */
#portfolio__project {
  margin-top: 80px;
}

#portfolio__project .nav {
  justify-content: center;
}

#portfolio__project .card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  cursor: pointer;
}

#portfolio__project .nav-pills .nav-link.active {
  background: #35a22c;
  color: white;
  border-color: #35a22c;
}

#portfolio__project .nav-pills .nav-link {
  color: #1a1d2d;
  border: 1px solid #1a1d2d;
  margin: 0 7px;
}

#portfolio__project .card-body {
  text-align: center;
  border: 1px solid transparent;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
  transition: all 0.3s;
}

#portfolio__project .card:hover .card-body {
  border-color: #35a22c;
  color: #35a22c;
}

#portfolio__project .card-body p:first-child {
  font-size: 20px;
}

#portfolio__project .card-body p:last-child {
  font-size: 15px;
  color: #1a1d2d;
}

/* PROJECT */

/* ABOUT */

#portfolio__about {
  margin-top: 80px;
  padding: 100px 0px 120px;
  background-image: url(../image/3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(7, 10, 12, 0.72);
  position: relative;
  cursor: pointer;
}

#portfolio__about .overlay {
  background: rgba(7, 10, 12, 0.72);
}

.overlay {
  background: rgba(39, 43, 54, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio__title {
  position: relative;
}

/* .portfolio__title p {
  margin: 20px 150px;
} */
.portfolio__item {
  padding: 40px;
  transition: all 0.5s;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3x);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.portfolio__item i {
  font-size: 48px;
  color: #35a22c;
}

.portfolio__item h4 {
  font-size: 20px;
  color: white;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 700;
}

.portfolio__item p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

/* #portfolio__about .portfolio__item:hover {
  background: #000;
  border-color: white;
} */

.portfolio__item:hover {
  background: #000;
  border: 1px solid #fff;
}

/* ABOUT */

/* AWARD */
#portfolio__award {
  position: relative;
  color: #585858;
  padding: 80px 0px;
}
.award__image {
  background-image: url(../image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.award__left {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  padding: 45px;
}

.award__left h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}

.award__right {
  padding: 45px 0;
}
/* AWARD */

/* FOOTER */
footer {
  background: #222;
}

footer a {
  color: #aaa;
}

.footer__main a {
  margin-right: 10px;
}

.footer__main i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  transition: all 0.5s;
}

.footer__main i:hover {
  color: #35a22c;
  border-color: #35a22c;
}

.footer__copy {
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
}

footer p {
  color: #aaa;
  margin: 0;
}

/* FOOTER */

/* RESPONSIVE */
/* từ màn hình nhỏ --> màn hình lớn, từ xanh sang đỏ*/
/* HEADER */
header .navbar-toggler {
  background-color: #35a22c;
}

header .navbar-toggler:hover {
  background-color: #20601a;
}

@media screen and (max-width: 991.98px) {
  header .navbar-collapse {
    background: white;
  }

  #navbarNav .nav-item {
    margin: 0;
    padding: 0 10px;
  }
  #navbarNav .nav-item:hover {
    background-color: #35a22c;
  }

  #navbarNav .nav-item .nav-link {
    color: #35a22c;
  }

  #navbarNav .nav-item:hover .nav-link {
    color: #fff;
  }

  #navbarNav .nav-item:hover::after,
  #navbarNav .nav-item.active::after {
    width: 0;
  }
}

@media screen and (max-width: 376px) {
  header .navbar-brand i {
    font-size: 8vw;
  }

  header .navbar-brand {
    font-size: 7w;
  }
}

/* CAROUSEL */
.carousel-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item:nth-child(1) {
  background-image: url(../image/finland.jpg);
}

.carousel-item:nth-child(2) {
  background-image: url(../image/mountains.jpg);
}

.carousel-item:nth-child(3) {
  background-image: url(../image/mountains-1.jpg);
}

@media screen and (max-height: 415px) {
  .carousel__thumb {
    width: 100px;
  }
  #portfolio__carousel .carousel-caption h5 {
    font-style: 5vw;
    line-height: 5vw;
  }

  #portfolio__carousel .carousel-caption p {
    font-style: 3vw;
  }

  .carousel-caption {
    padding-top: 0;
  }
}

@media screen and (max-width: 320px) {
  .carousel__thumb {
    width: 120px;
  }
  #portfolio__carousel .carousel-caption h5 {
    font-style: 10vw;
    line-height: 10vw;
  }

  #portfolio__carousel .carousel-caption p {
    font-style: 5vw;
  }

  .carousel-caption {
    padding-top: 0;
  }
}

/* PROJECT */
@media screen and (max-width: 575.98px) {
  .project__content .nav .nav-link {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 415px) {
  .project__content .nav .nav-item {
    margin-bottom: 1rem;
  }
}

/* AWARDS */
@media screen and (max-width: 575.98px) {
  .award__image {
    background-size: cover;
  }
}
